<ul id="categoriesList" class="list-group">
</ul>
<a id="addCategoryBtn" class="btn btn-default">Add a category</a>
<form>
      <span id="addCategoryInput" style="display: none">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4">
                    <div class="input-group">
                        <input id="newCategoryName" autocomplete="off" type="text" class="form-control"
                               placeholder="Enter a new category name">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </div>
            </div>
      </span>
</form>