<div class="jumbotron">
    <h1>Welcome!</h1>

    <h2>JQProducts</h2>

    <p class="lead">Managing products since 2013.</p>
    Want a tuturial?
    <a class="btn btn-lg btn-success" title="No such luck" data-toggle="popover"
       data-delay="50" data-trigger="click" data-content="Cut due to budget.">
        I Love Tutorials!
    </a>
</div>