<ul class="pager pull-left">
    <li class="previousPage disabled">
        <a class="previousPageLink">Previous</a>
    </li>
    <li class="nextPage">
        <a class="nextPageLink">Next</a>
    </li>
</ul>
