<div class="panel">
    <div class="panel-body">
        <span class="col-xs-3"><%-name%></span>
        <span class="col-xs-2" style="text-align: right"><%-price%></span>
        <span class="col-xs-6"><%-description%></span>
        <span class="col-xs-1">
            <span class="hidden-print btn btn-group pull-right">
                <a class="product-delete-button">delete</a>
            </span>
        </span>
    </div>
</div>
